NODE_ENV=development
PORT=5000
FRONTEND_URL=http://localhost:5173

MONGODB_URI=mongodb://devi131780_db_user:Venkatesh8184@ac-npdursk-shard-00-00.wdgczms.mongodb.net:27017,ac-npdursk-shard-00-01.wdgczms.mongodb.net:27017,ac-npdursk-shard-00-02.wdgczms.mongodb.net:27017/?ssl=true&replicaSet=atlas-13a9wj-shard-0&authSource=admin&appName=first-cluster

JWT_ACCESS_SECRET=replace_with_long_random_access_secret
JWT_REFRESH_SECRET=replace_with_long_random_refresh_secret
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash
